<main class="p-4">
    <div class="w-full text-right">
        <mat-icon routerLink="/" fontIcon="close" class="text-4xl"></mat-icon>
    </div>

    <div class="mt-6">
        <h2 class="text-2xl font-medium mb-6">Login To Progressive Load</h2>
        <form [formGroup]="loginForm" (ngSubmit)="handleLoginSubmit()">
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-medium mb-2" for="email">
                    Email
                </label>
                <input formControlName="username" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" placeholder="Email">
            </div>
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-medium mb-2" for="password">
                    Password
                </label>
                <input class="shadow appearance-none bordser rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" formControlName="password" id="password" type="password" placeholder="password">
            </div>
            <div class="flex items-center justify-between w-full">
                <button
                [ngClass]="{'bg-viridian': loginForm.valid, 'bg-gray-300 text-gray-500': !loginForm.valid}"
                [disabled]="!loginForm.valid"
                class="bg-viridian text-white font-medium px-4 py-2 w-full rounded-lg focus:outline-none focus:shadow-outline" type="submit">
                    Log in
                </button>
            </div>
        </form>
    </div>

</main>