<!-- If user is logged in, show this footer -->
<!-- <footer class="bg-gray-800 p-4 fixed bottom-0 w-full">
    <div class="container mx-auto text-center">
        <p class="text-white text-sm">© 2024 Your Company Name. All rights reserved.</p>
    </div>
</footer> -->

<!-- Show this footer is user is Logged out -->

<footer class="pt-4 px-4 pb-8 fixed bottom-0 w-full">
    <div class="container mx-auto text-center">
        <button class="bg-viridian text-white font-medium py-2 px-4 rounded-lg mb-2 w-full">
            Join
        </button>
        <button routerLink="/login" class=" font-medium py-2 px-4 rounded-xl w-full">
            Login
        </button>
    </div>
</footer>